In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import os
import mysql.connector

In [29]:
def space():
    print(" ")
    print("---------------------------------------------------------------")
    print(" ") 

def basic_exploration(fname):
    df = pd.read_csv(fname)
    steps_title = ["head", "shape", "duplicates if any","null and its sum", "No. of unique values across df", "Get to know datatypes"]
    steps = [df.head(2),df.shape, df.duplicated().any(), df.isnull().sum(), df.nunique(), df.dtypes]
    for i in range(len(steps)):
        print("----",steps_title[i], "-------")
        print(steps[i])
        space()


# basic_exploration("olist_products_dataset.csv")

### Steps followed
* FIrst do exploaration of individual csvs
* Do preprocessing, select required columns only and store it
* Then create schema
* Then upload the data to mysql
* Use mysql connector and sqlalchemy libraries

In [30]:
basic_exploration("olist_customers_dataset.csv")

---- head -------
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP

---------------------------------------------------------------

---- shape -------
(99441, 5)

---------------------------------------------------------------

---- duplicates if any -------
False

---------------------------------------------------------------

---- null and its sum -------
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

---------------------------------------------------------------

---- No. of unique values across df -------
customer_id                 99441
customer_unique_id          96096
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
dtype: int64

---------------------------------------------------------------

---- Get to know datatypes -------
customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

---------------------------------------------------------------

In [13]:
olist_customers = pd.read_csv("olist_customers_dataset.csv")
olist_customers.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [31]:
olist_customers.to_csv("preprocessed_data/olist_customers.csv", index=False)

In [32]:
basic_exploration("olist_order_items_dataset.csv")

---- head -------
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36

   shipping_limit_date  price  freight_value
0  2017-09-19 09:45:35   58.9          13.29
1  2017-05-03 11:05:13  239.9          19.93

---------------------------------------------------------------

---- shape -------
(112650, 7)

---------------------------------------------------------------

---- duplicates if any -------
False

---------------------------------------------------------------

---- null and its sum -------
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

---------------------------------------------------------------

---- No. of unique values across df -------
order_id               98666
order_item_id             21
product_id             32951
seller_id               3095
shipping_limit_date    93318
price                   5968
freight_value           6999
dtype: int64

---------------------------------------------------------------

---- Get to know datatypes -------
order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

---------------------------------------------------------------

In [34]:
olist_order_items = pd.read_csv("olist_order_items_dataset.csv")
olist_order_items.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

In [35]:
olist_order_items['shipping_limit_date'] = pd.to_datetime(olist_order_items['shipping_limit_date'])

In [37]:
olist_order_items.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [38]:
olist_order_items.to_csv("preprocessed_data/olist_order_items.csv", index=False)

In [ ]:
basic_exploration("olist_order_payments_dataset.csv")

---- head -------
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39

---------------------------------------------------------------

---- shape -------
(103886, 5)

---------------------------------------------------------------

---- duplicates if any -------
False

---------------------------------------------------------------

---- null and its sum -------
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

---------------------------------------------------------------

---- No. of unique values across df -------
order_id                99440
payment_sequential         29
payment_type                5
payment_installments       24
payment_value           29077
dtype: int64

---------------------------------------------------------------

---- Get to know datatypes -------
order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

---------------------------------------------------------------

In [41]:
olist_order_payments = pd.read_csv("olist_order_payments_dataset.csv")
olist_order_payments.to_csv("preprocessed_data/olist_order_payments.csv", index=False)

In [ ]:
basic_exploration("olist_orders_dataset.csv")

---- head -------
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00

---------------------------------------------------------------

---- shape -------
(99441, 8)

---------------------------------------------------------------

---- duplicates if any -------
False

---------------------------------------------------------------

---- null and its sum -------
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

---------------------------------------------------------------

---- No. of unique values across df -------
order_id                         99441
customer_id                      99441
order_status                         8
order_purchase_timestamp         98875
order_approved_at                90733
order_delivered_carrier_date     81018
order_delivered_customer_date    95664
order_estimated_delivery_date      459
dtype: int64

---------------------------------------------------------------

---- Get to know datatypes -------
order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

---------------------------------------------------------------

In [ ]:
olist_orders = pd.read_csv("olist_orders_dataset.csv")
olist_orders.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00

In [44]:
olist_orders['order_purchase_timestamp'] = pd.to_datetime(olist_orders['order_purchase_timestamp'])
olist_orders['order_approved_at'] = pd.to_datetime(olist_orders['order_approved_at']) 
olist_orders['order_delivered_carrier_date'] = pd.to_datetime(olist_orders['order_delivered_carrier_date']) 
olist_orders['order_delivered_customer_date'] = pd.to_datetime(olist_orders['order_delivered_customer_date']) 
olist_orders['order_estimated_delivery_date'] = pd.to_datetime(olist_orders['order_estimated_delivery_date'])

In [47]:
olist_orders.to_csv("preprocessed_data/olist_orders.csv", index=False)

In [48]:
basic_exploration("olist_products_dataset.csv")

---- head -------
                         product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0

---------------------------------------------------------------

---- shape -------
(32951, 9)

---------------------------------------------------------------

---- duplicates if any -------
False

---------------------------------------------------------------

---- null and its sum -------
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

---------------------------------------------------------------

---- No. of unique values across df -------
product_id                    32951
product_category_name            73
product_name_lenght              66
product_description_lenght     2960
product_photos_qty               19
product_weight_g               2204
product_length_cm                99
product_height_cm               102
product_width_cm                 95
dtype: int64

---------------------------------------------------------------

---- Get to know datatypes -------
product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

---------------------------------------------------------------

In [49]:
trans = pd.read_csv("product_category_name_translation.csv")

In [50]:
trans.head(2)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories

In [51]:
olist_products = pd.read_csv("olist_products_dataset.csv")
olist_products = olist_products.merge(trans,"left", on="product_category_name")
olist_products.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art

In [ ]:
olist_products = olist_products.drop(["product_category_name"], axis = 1)
olist_products = olist_products.rename(columns = {"product_category_name_english":"product_category_name"})

In [59]:
olist_products.head(2)

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art

In [60]:
olist_products.to_csv("preprocessed_data/olist_products.csv", index=False)

In [62]:
basic_exploration("olist_sellers_dataset.csv")

---- head -------
                          seller_id  seller_zip_code_prefix seller_city  \
0  3442f8959a84dea7ee197c632cb2df15                   13023    campinas
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844  mogi guacu

  seller_state
0           SP
1           SP

---------------------------------------------------------------

---- shape -------
(3095, 4)

---------------------------------------------------------------

---- duplicates if any -------
False

---------------------------------------------------------------

---- null and its sum -------
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

---------------------------------------------------------------

---- No. of unique values across df -------
seller_id                 3095
seller_zip_code_prefix    2246
seller_city                611
seller_state                23
dtype: int64

---------------------------------------------------------------

---- Get to know datatypes -------
seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

---------------------------------------------------------------

In [63]:
olist_sellers = pd.read_csv("olist_sellers_dataset.csv")
olist_sellers.to_csv("preprocessed_data/olist_sellers.csv", index=False)

In [28]:
# y = []
# for i in range(len(olist_customers[:2])):
#     x = tuple(olist_customers.iloc[i])
#     y.append(x)
# y 
# file = open('olist_customers.txt', 'w')
# for tuple in y:
#     file.write(str(tuple) + ','+ '\n')
# file.close()

In [3]:
ld1 = pd.read_csv("preprocessed_data/olist_customers.csv")
ld1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [5]:
# Insert into Sales Values
ld1 = pd.read_csv("preprocessed_data/olist_order_items.csv")
ld1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [6]:
# Insert into Sales Values
ld1 = pd.read_csv("preprocessed_data/olist_orders.csv")
ld1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [ ]:
# df['Date'] = pd.to_datetime(df['Date'])
# df = df.astype({'Unit_Cost':'floata', 'Unit Price':'float', "Profit":'float'})